* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', sans-serif;
  display: flex;
  max-height: 100vh;
}

/* img {
  width: 700px;
  height: auto;
} */
a {
  text-decoration: none;
  color:rgb(179, 123, 211);
}

input {
  height: 20px;
  width: 220px;
  padding: .8rem;
  border: 2px solid rgba(3,3,5,0.2);
  border-radius: 4px;
}
input:valid {
  border-color: rgb(32, 177, 32);

}
input:focus {
  outline: none;
  border-color: rgb(96, 130, 240);
  box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.3);
}
input:invalid:not(:placeholder-shown) {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

small {
  /* visibility: hidden; */
  color: red;
}
strong {
  color: rgb(179, 112, 255);
}
.hidden {
  visibility: hidden;
}
/* .form-control.error::after {
  content: '* Passwords do not match.';
  color: #e74c3c;
} */

/* IMAGE CONTAINER */

.image-container {
  background-image: url('/jon-r8AFUpRp0J0-unsplash.jpg');
  /* width: 650px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 0;
  flex-basis: 40%;
  position: relative;
}

.logo-banner {
  position: relative;
  z-index: 1;
  background-color: rgba(3,3,5,0.4);
  margin-top: 13rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.logo {
  width: 125px;
  /* height: auto; */
}
.company-name {
  color: #fafafa;
  font-size: 4rem;
}
#photo-author {
  color: #ddd;
  letter-spacing: 1px;
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  right: 10%;
}
.author {
  color:rgb(179, 112, 255);
}


/* FORM CONTAINER */

.main-container {
  font-family: 'IBM Plex Mono', sans-serif;
  /* margin-left: 650px; */
  flex-basis: 60%;
  background-color: #efefef;
}
.form-container {
  background-color: #fefefe;
  padding: 1.5rem 3rem;
  
}
.form-container h2 {
  margin-bottom: 2rem;
}
.disclaimer {
  padding: 3rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  column-gap: 5rem;
  row-gap: 1.4rem;
}
.form h2 {
  flex-basis: 100%;
}
.account {
  padding: 3rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: .5rem;
}

.button {
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: .8rem 3rem;
  background-color: rgb(162, 134, 207);
  color:#fafafa;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(182, 154, 227);
}
.account .button {
  margin-bottom: 2rem;
}

.full-height {
  height: 100vh;
}


@media screen and (max-width: 1210px) {

  body {
    flex-direction: column;
  }

  .logo-banner {
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-color: rgba(0,0,0,.3);
  }

  #photo-author {
    color: #222;
  }
}

@media  screen and (max-width: 620px) {
  /* .form {
    column-gap: 8rem;
  } */
  .form-container h2 {
    text-align: center;
  }
  .form {
    flex-direction: column; 
  }
  .form-control {
    width: auto;
    margin: 0 auto;
  }

  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    padding: .5rem 2rem;
  }
  #photo-author {
    top: 20px;
  }

}

